{% extends 'base.html' %}
{% block title %}{% if is_edit %}Редактирование записи{% else %}Создание записи{% endif %}{% endblock %}
{% block content %}
{% load user_filters %}
{% load thumbnail %}
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">       
                {% if is_edit %}Редактировать запись{% else %}Добавить пост{% endif %}
              </div>
              <div class="card-body">        
                {% include 'includes/errors.html' %}

                <form method="post" enctype="multipart/form-data" action="{% if is_edit %}{% url 'posts:post_edit' post.pk %}{% else %}{% url 'posts:post_create' %}{% endif %}">
                  {% csrf_token %}
                  
                  {% for field in form %}
                  {% include 'includes/field_form.html' %}
                  {% endfor %}
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                       {% if is_edit %}Добавить{% else %}Сохранить{% endif %}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
